* {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-snap-type: none;
  font-family: 'Inter', 'ui-sans-serif', 'system-ui';
}

:root {
  --primary: #0890c5;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 500;
  padding: 5px;
  box-shadow: 0 3px 10px #031724;
  backdrop-filter: blur(4px);
  background-color: rgba(35, 35, 35, 0.5);
}

header button {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  margin-right: 2.5rem;
  margin-top: 1px;
  cursor: pointer;
  color: #087ecd;
  /* color: #aeff00; */
  /* color: #ffcc00; */
}

/* header .icon {
  margin: 1px 1px;
  font-size: 20px;
  color: var(--primary);
  } */
.email,
.whatsapp {
  display: flex;
  /* font-size: 20px; */
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  color: var(--primary);
}

header a {
  font-family: serif;
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  color: var(--primary);
  margin: 0 5px;
}

.sec-container {
  min-height: 700px;
  height: 100vh;
  max-height: 1000px;
}

.bg-video {
  position: relative;
  top: -32px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -75%;
  left: 0;
}

.admin-logo {
  max-width: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.img-back {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 50%;
  translate: -50% -50%;
  animation: circle 3s ease-out infinite;
  background: conic-gradient(#22d9e7, #0283da, #20dae7);
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heading {
  /* color: #02395d; */
  color: white;
  /* font-size: 25px; */
  /* font-size: 3.5vmin; */
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-shadow: 0 2px 15px #031724;
  text-align: center;
  /* animation: text 5s linear infinite; */
}

.name {
  font-weight: 600;
}

.heading small {
  color: #e7e5e5d8;
  /* font-size: 18px; */
  /* font-size: 2.4vmin; */
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  text-shadow: 0 2px 3px #000f13;
}

@keyframes text {
  0% {
    color: #02395d;
  }

  50% {
    color: #35adb6;
  }

  100% {
    color: #0283da;
  }
}

.marquee-container {
  max-width: 200px;
  overflow: hidden;
}

.marquee {
  animation: marquee 3s linear infinite;
}

.marquee img {
  max-width: 30px;
  margin: 10px 15px;
}

#bs {
  max-width: 35px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.link-div {
  width: 95%;
  background: #012f4e;
  /* border-radius: 10px; */
  /* border: 3px solid #aeff00; */
  margin: 0 auto;
  position: fixed;
  top: 94%;
  z-index: 500;
  padding: 10px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.icons a {
  color: var(--primary);
  font-size: 1.2rem;
}

.icons i:active {
  color: #20dae7;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* color: #02395d; */
  animation: text 5s linear infinite;
}

.fa-address-book {
  margin-right: -8px;
}

.fa-brain {
  margin-right: -1px;
}

.fa-gears {
  margin-left: -12px;
}

.fa-circle-info {
  margin-right: 12px;
}

.fa-house {
  margin-left: -12px;
}

/* --------about--------- */

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -50px;
  height: 100vh;
  background-color: #02171c;
  color: #40d3f0;
}

.about_img {
  flex: 1 1 800px;
  max-width: 300px;
}

@keyframes pic-ud {
  0% {
    margin: 0 0 0px 0;
  }

  25% {
    margin: 30px 0 0 0;
  }

  50% {
    margin: 0 0 -5px 0;
  }

  75% {
    margin: 30px 0 0 0;
  }

  100% {
    margin: 0 0 -5px 0;
  }
}

.about_img img {
  width: 100%;
  filter: drop-shadow(1px -3px 4px #124553f5);
  animation: pic-ud 4s linear infinite;
}

.img-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about_text {
  max-width: 700px;
  margin: 0 25px;
  padding: 5px;
  box-sizing: border-box;
}

/* -----Projects-----*/
.project-container {
  /* height: 100vh; */
  /* overflow: scroll; */
}

.project_heading {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.project_para {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.github-img {
  max-width: 70px;
  margin: 0 auto;
}

.github-img img {
  width: 100%;
}

.p-heading {
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  max-width: 400px;
  border: none;
  padding: 12px;
  margin: 0 10px;
  /* overflow: auto; */
  box-sizing: border-box;
  cursor: pointer;
}

.card-i_t {
  margin: 0 auto;
  max-width: 480px;
  padding: 4px;
}

.card-i_t img {
  width: 100%;
  /* box-shadow: 0 2px 6px black; */
  opacity: 0.5;
  transition: all 0.5s linear;
}

.card-text {
  padding: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s linear;
}

.card-text h3 {
  margin: 8px 0;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  float: left;
  margin: 1rem 2px;
  padding: 12px 0;
  width: 48%;
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, rgb(13, 59, 105), rgb(1, 50, 79));
  border-radius: 0.3rem;
  box-sizing: border-box;
  transition: all 1s ease-in;
}

.card a:hover {
  background: linear-gradient(90deg, rgb(39, 114, 188) 20%, rgb(2, 71, 108));
}

.card:hover .card-text {
  opacity: 1;
  visibility: visible;
  border-bottom: #0283da;
}

.card-i_t img:hover {
  opacity: 1;
  border-radius: 4px;
  box-shadow: 0 3px 15px black;
}

.card:hover {
  /* box-shadow: 0 5px 8px rgb(1, 12, 19); */
  border-radius: 5px;
}

.card-2 {
  height: 500px;
}

#img-2 {
  max-width: 100%;
  width: 500px;
  height: 275px;
}

/* Skill Paga */

.skill-container {
  /* height: 100vh; */
  /* background-color: #aeff00; */
  background-color: #171717;
  padding-bottom: 2.5rem;
}

.skill-container h1 {
  color: white;
  text-align: center;
  transform: translate(0, 30px);
}

.skills-group {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  flex-wrap: wrap;
}

.skillbase {
  margin-top: 40px;
  padding: 10px;
  max-width: 400px;
  background-color: #171717;
  /* background-color: #aeff00; */
  box-shadow: 5px 5px 5px #101010ee, -2px -2px 15px #202020;
  /* box-shadow: 0 5px 20px #98de02; */
  border-radius: 10px;
  box-sizing: border-box;
  /* overflow: auto; */
  transition: all 0.3s linear;
}

.skillbase:hover {
  box-shadow: 5px 5px 5px #101010ee inset, -5px -5px 15px #101010ee inset;
}

.img-logo {
  float: left;
  max-width: 60px;
  padding: 4px;
}

.img-logo img {
  width: 100%;
  border: 1px solid #fab400;
  border-radius: 50%;
  background-color: #fab400;
  margin-top: 15px;
  padding: 4px;
  box-sizing: border-box;
}

.skill-text h4 {
  color: #ffcc00;
}

.skill-text p {
  color: #c6c6c6f5;
}

/* small logo */

.small-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px;
}

.item {
  width: 110px;
  height: 90px;
  padding: 20px;
  background-color: #171717;
  box-shadow: 1px 5px 14px #0b0b0bee;
  /* box-sizing: border-box; */
  border-radius: 8px;
}

.img {
  max-width: 40px;
  margin: 0 auto;
}

.img-1 {
  max-width: 40px;
}

.img img {
  width: 90%;
}

.img-3 img {
  width: 43px;
}

.img-4 img {
  width: 45px;
}

.img-5 img {
  width: 45px;
}

.img-6 img {
  width: 45px;
}

.img-7 img {
  width: 100px;
  padding: 0;
  margin-left: -32px;
}

#item-7 p {
  margin-top: 40px;
}

.item p {
  color: white;
  text-align: center;
  margin-top: 25px;
}

/* -----Contant Page------ */

.contact-container {
  /* min-height: 600px;
  height: 100vh;
  max-height: 900px; */
  background-color: #ffcc00;
  background: linear-gradient(to right, #ffd746, #f0c001);
  padding-bottom: 3rem;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding-top: 2rem;
}

.contact-img {
  max-width: 500px;
  flex: 1 1 400px;
  /* position: relative; */
  /* top: 190px; */
  /* left: 100px; */
  /* margin-bottom: 50px; */
  /* z-index: 2; */
}

.contact-img img {
  width: 100%;
}

.contact-mail {
  /* float: right; */
  width: clamp(17rem, 45vw, 25rem);
  /* padding: 50px 30px; */
  padding: clamp(1.5rem, 2vw, 2rem);
  border-radius: 12px;
  /* transform: translate(-110px, -310px); */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  box-shadow: -1px -5px 15px #ffcc00 inset;
  border-top: 5px solid #ffffff92;
}

.contact-mail input,
textarea {
  padding: 12px;
  margin: 6px;
  width: 90%;
  border: none;
  outline: none;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  background-color: #ffe37588;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.397);
}

.contact-mail input::placeholder {
  color: rgba(255, 255, 255, 0.795);
}

.contact-mail textarea::placeholder {
  color: rgba(255, 255, 255, 0.795);
}

#textarea {
  height: 130px;
  resize: none;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.397);
}

#submit {
  margin-top: 25px;
  margin-left: 18px;
  border-radius: 20px;
  /* background-color: #f5a60a; */
  /* background-color: #f4b509; */
  background-color: #fabf1b;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.468);
}

#submit:hover {
  cursor: pointer;
  box-shadow: 0px 4px 1px rgba(55, 54, 54, 0.468);
}

/* Skill section  */

.progres_main_div {
  color: white;
  margin-top: 5rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

.tech-name {
  font-weight: 600;
  font-size: 1.2rem;
  min-width: 8rem;
}

.progress-bar-wrapper {
  flex: 1;
  background-color: #4e4939;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

}

.progress-bar-wrapper:hover {
  scale: 1.1;
  transform: translateX(-22px);
  transition: transform 0.2s ease;
}


.progress {
  /* background-color: greenyellow; */
  background: linear-gradient(90deg, #ffd323, #ffefad);
  box-shadow: 0px 0px 20px #ffd11a;
  height: 1.5rem;
  border-radius: 8px 0 0 8px;
  position: relative;
  transition: width 1s ease;
}

.progress::after {
  content: attr(data-value);
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}


.puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
}


@keyframes puff-in-center {
  0% {
    transform: scale(2.5);
    filter: blur(4px);
    opacity: 0;
  }

  50% {
    filter: blur(7px);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}


.focus-in-contract-bck {
  animation: focus-in-contract-bck 0.8s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(8px);
    opacity: 0;
  }

  50% {
    letter-spacing: 0.5em;
    transform: translateZ(150px);
    filter: blur(13px);
    opacity: 0.3;
  }

  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
/* Tech colors */
.tech-react {
  color: #61DBFB;
  border: 2px solid #61DBFB;
  background: rgba(97, 219, 251, 0.1);
}

.tech-node {
  color: #3C873A;
  border: 2px solid #3C873A;
  background: rgba(60, 135, 58, 0.1);
}

.tech-mongodb {
  color: #4DB33D;
  border: 2px solid #4DB33D;
  background: rgba(77, 179, 61, 0.1);
}

.tech-express {
  color: #555;
  border: 2px solid #555;
  background: rgba(85, 85, 85, 0.1);
}

.tech-tailwind {
  color: #38BDF8;
  border: 2px solid #38BDF8;
  background: rgba(56, 189, 248, 0.1);
}

.tech-nextjs {
  color: #000000cf;
  border: 2px solid #000000c7;
  background: rgba(0, 0, 0, 0.05);
}

.tech-stack {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  padding: 3px 10px 4px 10px;
  border-radius: 25px;
  font-weight: 500;
}